header {
    position: absolute;
    top: 0;
    min-width: 1024px;
    background: #fed700;
    width: 1349px;
    height: 55px;
}
.wrap-main {
    max-width: 1200px;
    min-width: 1024px;
    width: 100%;
    height: 55px;
    background: #000;
    margin: auto;
    position: relative;
    display: block;
}
.logo{
    float: left;
    width: 165px;
    display: block;
    padding: 14px 0 11px 5px;
}
.topinput {
    float: left;
    width: 162px;
    margin-left: 8px;
    padding-top: 3px;
    border: 0;
    position: relative;
    background: #fff;
    height: 30px;
    text-indent: 10px;
    font-size: 13px;
}
.btntop {
    float: right;
    width: 40px;
    height: 35px;
    border: 0;
    background: none;
}
.icontgdd-topsearch {
    background-position: -160px 0;
    width: 20px;
    height: 20px;
    display: block;
    margin: 1px auto 0;
    background-image: url('../images/icon.png');
    background-repeat: no-repeat;
    display: block;
}
.icontgdd-logo {
    background-position: 0 0;
    width: 156px;
    height: 30px;
    margin: auto;
    background-image: url('../images/icon.png');
    background-repeat: no-repeat;
    display: block;
}